---
import "../assets/main.css";
const currentYear = new Date().getFullYear();
import LastFm from "../components/widgets/LastFm.vue";

const { title } = Astro.props;

const navItems = [
  {
    name: "HOME",
    href: "/home/",
  },
  {
    name: "ABOUT",
    href: "/about/",
  },
  {
    name: "CODE",
    href: "/code/",
  },
  {
    name: "GAMES",
    href: "/games/",
  },
  {
    name: "MUSIC",
    href: "/music/",
  },
  {
    name: "BLOG",
    href: "/blog/",
  },
  {
    name: "REVIEWS",
    href: "/reviews/",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | black.star.fantasy</title>
  </head>

  <body class="has-motion">
    <section class="flex justify-center">
      <div
        class="flex flex-col justify-between w-[1440px] bg-black/40 backdrop-blur-md border-l-2 border-r-2 border-t-2 my-6 mx-6 border-white/30 rounded-lg shadow-xl shadow-black/35"
      >
        <section>
          <!-- BANNER AND TOP NAVs -->
          <header>
            <!-- TOP NAV -->
            <nav
              class="bg-black py-1 px-2 flex gap-2 justify-between items-center rounded-t-lg"
            >
              <div class="flex items-center flex-grow justify-between">
                <LastFm client:only="vue" />
                <button
                  class="px-2 py-1 cursor-pointer text-sm hover:bg-orange-500/50 rounded-md transition-all duration-300 ease-in-out"
                  type="button"
                  onclick="document.body.classList.toggle('has-motion');"
                  title="Toggle animated elements on/off"
                >
                  TOGGLE MOTION
                </button>
              </div>
              <div>
                {navItems.map((item) => <a href={item.href}>{item.name}</a>)}
              </div>
            </nav>
            <!-- BANNER -->
            <a
              href="/home/"
              id="banner"
              class="group w-full flex flex-col justify-end items-center transition-all duration-300 ease-in-out no-underline border-t-2 border-b-2 border-white/30"
            >
              <h1
                class="bg-black/55 backdrop-blur-sm w-full py-6 text-4xl text-orange-500 tracking-widest flex items-center justify-center text-shadow-lg text-shadow-black/55 group-hover:bg-black/75 transition-all duration-300 ease-in-out"
              >
                <span
                  class="group-hover:scale-115 transition-all duration-300 ease-in-out"
                >
                  <span class="text-white animate-pulse">//&nbsp;</span
                  >black<span class="text-white">.</span>star<span
                    class="text-white">.</span
                  >fantasy
                </span>
              </h1>
            </a>
            <!-- BOTTOM NAV -->
            <nav
              class="bg-black/40 backdrop-blur-sm py-4 px-2 flex gap-2 justify-center items-center border-b-2 border-white/30"
            >
              {navItems.map((item) => <a href={item.href}>{item.name}</a>)}
            </nav>
          </header>

          <!-- MAIN CONTENT -->
          <main class="flex">
            <!-- LEFT SIDEBAR -->
            <aside class="w-1/4 pt-6 pl-6 mb-6">
              <nav
                class="flex flex-col gap-1 sticky top-6 bg-black/50 p-4 rounded-lg border-2 border-white/20 shadow-lg shadow-black/15"
              >
                <h2
                  class="text-xl font-light mb-2 text-white/20 border-b-2 border-dotted border-white/20 uppercase tracking-widest"
                >
                  MENU
                </h2>
                {navItems.map((item) => <a href={item.href}>{item.name}</a>)}
              </nav>
            </aside>

            <section class="w-full py-6 px-16">
              <slot />
            </section>
          </main>
        </section>

        <!-- FOOTER -->
        <footer
          id="footer"
          class="border-t-2 border-b-2 border-white/30 flex flex-col items-center gap-3 py-8 text-sm text-stone-400 rounded-b-lg"
        >
          <p class="text-white bg-black/50 backdrop-blur-sm p-2">
            Black Star Fantasy and original content &copy; {currentYear} Michael
            DeLally. All other content &copy; their respective owners.
          </p>
          <p class="text-white bg-black/50 backdrop-blur-sm p-2">
            Made with ❤️ by
            <a
              href="https://github.com/mdelally"
              target="_blank"
              class="text-orange-500"
            >
              Michael DeLally
            </a> using Astro and TailwindCSS.
          </p>
        </footer>
      </div>
    </section>
  </body>
</html>

<style>
  #banner {
    background-image: url("../assets/img/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
  }

  #footer {
    background-image: url("../assets/img/footer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
